
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page</title>
    <link rel="stylesheet" href="{% static "test.css" %}"/>
</head>
<body style="align-items: center; justify-content: center; box-shadow: aqua;">
    <p>
        <span style="color: yellowgreen;">welcome to your website</span>
        <br/>
        <a href="http://google.com" style="color: yellowgreen;" >this is my site</a>
    </p>
</body>
</html>